footer{
    .main-footer-container{
        background-image: url('../assets/img/footer-bg.jpg');
        background-size: cover;
        
        background-repeat: no-repeat;
    }
    li{
        font-weight: 300;
    }
    .ms-lower-footer-bg{
        background-color: #303030;
    }
    .ms-main-blue-color{
        color: #0C7CEC;
    }
}