header{
    .ms-container{
        width: 80%;
        margin: 0 auto;
      }
      li{
          list-style: none;
          display: inline;
          padding: 1rem;
          &:hover{
            color: #0282F9;
            border-bottom: 0.5rem solid  #0282F9;
          }
      }
      .jumbotron{
        height: 40vh;
        width: 100%;
        img {
                width: 100%;
                object-fit: cover;
               
              }
      }
}